<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4 max-w-4xl mx-auto">
  <div class="card shadow-2xl bg-base-100">
    <div class="card-body grid md:grid-cols-2 gap-6">
      <div class="flex flex-col space-y-4 p-4 justify-center">
        <img
          src="https://raw.githubusercontent.com/saadeghi/files/main/daisyui/logo-4.svg"
          alt="Logo"
          class="w-20 h-20"
        />
        <h1 class="text-3xl font-bold">Create an account</h1>
        <p>to continue to Application</p>
      </div>

      <div class="flex flex-col space-y-2 p-4">
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Username</span>
          </div>
          <input type="text" formControlName="username" class="input input-bordered w-full" />
          @if ( (form.get('username')?.touched || form.get('username')?.dirty) && form.get('username')?.hasError('required') ) {
            <div class="label">
              <span class="label-text-alt text-error">Username is required</span>
            </div>
          }
        </label>

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Email</span>
          </div>
          <input type="email" formControlName="email" class="input input-bordered w-full" />
          @if ( (form.get('email')?.touched || form.get('email')?.dirty) && form.get('email')?.hasError('required') ) {
            <div class="label">
              <span class="label-text-alt text-error">Email is required</span>
            </div>
          } @if ( (form.get('email')?.touched || form.get('email')?.dirty) && form.get('email')?.hasError('email') ) {
            <div class="label">
              <span class="label-text-alt text-error">Email is invalid</span>
            </div>
          }
        </label>

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Password</span>
          </div>
          <input type="password" formControlName="password" class="input input-bordered w-full" />
           @if ( (form.get('password')?.touched || form.get('password')?.dirty) && form.get('password')?.hasError('required') ) {
            <div class="label">
              <span class="label-text-alt text-error">Password is required</span>
            </div>
          } @if ( (form.get('password')?.touched || form.get('password')?.dirty) && form.get('password')?.hasError('minlength') ) {
            <div class="label">
              <span class="label-text-alt text-error">Password must be at least 8 characters</span>
            </div>
          }
        </label>
        <div class="card-actions justify-end items-center gap-2 mt-4">
          <a routerLink="/login" class="btn btn-ghost">Sign in</a>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Create account</button>
        </div>
      </div>
    </div>
  </div>
</form>
