<div class="p-4 sm:p-6 lg:p-8">
  <header>
    <div class="sm:flex sm:items-center sm:justify-between">
      <h3 class="text-3xl font-semibold">Report</h3>
      <div class="mt-4 sm:mt-0 sm:flex sm:items-center sm:gap-2">
        <select class="select select-bordered w-full sm:w-fit"
                (change)="selectedTimeRange.set($any($event.target).value)">
          @for (timeRange of timeRanges; track timeRange.value) {
            <option [value]="timeRange.value" [selected]="timeRange.value === selectedTimeRange()">{{ timeRange.viewValue }}</option>
          }
        </select>
        <select class="select select-bordered w-full sm:w-fit mt-2 sm:mt-0"
                (change)="onThemeChange(+$any($event.target).value)">
          <option value="" disabled [selected]="selectedTheme() === null">Sélectionner un thème</option>
          @for (theme of themes(); track theme.id) {
            <option [value]="theme.id" [selected]="theme.id === selectedTheme()">{{ theme.title }}</option>
          }
        </select>
      </div>
    </div>
  </header>
  <main>
    <div role="tablist" class="tabs tabs-lifted mt-6">
      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Overview" checked />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2">
          <div class="card bg-base-200 shadow-xl h-36"></div>
          <div class="card bg-base-200 shadow-xl h-36"></div>
          <div class="card bg-base-200 shadow-xl h-36"></div>
          <div class="card bg-base-200 shadow-xl h-36"></div>
        </div>
      </div>
      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Detail" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <div class="mt-4">
          <div class="card bg-base-200 shadow-xl h-72"></div>
        </div>
      </div>
    </div>
  </main>
</div>
